.main-grades{
    min-height: 70vh;
    background-image: url('../../assets/fondopages.png');
    background-size: cover;
}
.title-grades{
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 2rem;
    color:#FF1168;
    text-shadow: 4px 4px 4px #25020F;
}
.section-grades{
    display: flex;
    flex-direction: row;
   align-items: center;
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: center;
}
.div-grade{
    width: 20rem;
    background-color: #25020F;
    box-shadow: 5px 5px 5px #FF1168;
    color:#ECECEC;
    margin: 2rem;
    text-align: center;
}
.h3-title{
    font-size: 20px;
}